<div fxFlex="90">
    <div fxLayout="row" fxLayoutAlign="space-between Start" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="20">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="view" class="font">View Tickets</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="esvs" class="font">Create ESVS Ticket</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="hdphone" class="font">hdPhone Ticket</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Create Ticket</a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white; font: size 48px;">logout</mat-icon>
                    <mat-icon matPrefix style="color:white; font: size 48px;">logout</mat-icon>
                    <mat-icon matPrefix style="color:white; font: size 48px;">logout</mat-icon>
                    <div style="text-align: ceter;">
                        <mat-card>
                            <button mat-raised-button routerLink="store" style="width: 124px;">store</button><br>
                            <button mat-raised-button routerLink="auto">autocompleted</button>
                        </mat-card>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="20">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="/import-export" class="font">Export/import
                        </a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="/sort" class="font">sort</a>
                    </mat-card>
                    <mat-card fxFlex="25">

                        <a routerLink="/select" class="font">selection-value</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <b>my Solutions ---params</b>
                    <mat-card>
                        <button mat-raised-button routerLink="params" style="width: 124px;">params</button><br>
                    </mat-card>
                </div>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="20">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">THD Business Traffic</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Public Wifi </a>
                    </mat-card>
                    <mat-card>
                        <a routerLink="" class="font">More Info </a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <b>Searching</b>
                    <!-- Searching the table data in angular -->
                    <mat-card>
                        <button mat-raised-button routerLink="search" style="width: 124px;">searching</button><br>
                    </mat-card>
                </div>
            </mat-card>

        </div>
        <div fxLayout="column" fxFlex="20">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Field Dashboard</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Field Shopping</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <h5 style="text-align: center;"><b>Device Health</b>
                        <h6 style="text-align: center;">current Status
                            <mat-card>
                                <button mat-raised-button routerLink="css" style="width: 124px;">styles</button><br>
                            </mat-card>
                        </h6>
                    </h5>
                </div>
            </mat-card>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between Start" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="20">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Device Details</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Mobile Devices</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <h5 style="text-align: center;"><b>Device Health</b>
                        <h6 style="text-align: center;">current Status
                            <mat-card>
                                <button mat-raised-button routerLink="css" style="width: 124px;">styles</button><br>
                            </mat-card>
                        </h6>
                    </h5>
                </div>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="20">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Incident Monitoring</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a><br>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <h5 style="text-align: center;"><b>Store Analytics</b>
                        <h5 style="text-align: center;">Current Status
                            <h6>
                                7 impact poll Responses
                            </h6>
                        </h5>
                    </h5>
                </div>
            </mat-card>

        </div>
        <div fxLayout="column" fxFlex="20">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Vision</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Field Shopping</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <h5 style="text-align: center;"><b>Vision</b>
                        <h5 style="text-align: center;">Current Status
                            <h6>
                                8 Active events
                                32 impacted sites
                                23 Open sites
                                2 Closed sites
                                30 sites with issues
                            </h6>
                        </h5>
                    </h5>
                </div>
            </mat-card>

        </div>
        <div fxLayout="column" fxFlex="20">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Redis Monitoring</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                    </mat-card>
                    <mat-card fxFlex="25">
                    </mat-card>
                    <mat-card fxFlex="25">
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <h5 style="text-align: center;"><b>Monitoring Dashboard</b>
                        <h5 style="text-align: center;">Current Status
                            <h6>
                                Redis uptime in days 30
                            </h6>
                        </h5>
                    </h5>
                </div>
            </mat-card>
        </div>
    </div>
</div>


<!-- <div fxFlex="90">
    <div fxLayout="row" fxLayoutAlign="space-between Start" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="25">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="view" class="font">View Tickets</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="esvs" class="font">Create ESVS Ticket</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="hdphone" class="font">hdPhone Ticket</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Create Ticket</a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white; font: size 48px;">logout</mat-icon>
                    <mat-icon matPrefix style="color:white; font: size 48px;">logout</mat-icon>
                    <mat-icon matPrefix style="color:white; font: size 48px;">logout</mat-icon>
                    <div style="text-align: ceter;">
                        <mat-card>
                            <button mat-raised-button routerLink="store" style="width: 124px;">store</button><br>
                            <button mat-raised-button routerLink="auto">autocompleted</button>
                        </mat-card>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="25">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="/import-export" class="font">Export/import
                        </a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="/sort" class="font">sort</a>
                    </mat-card>
                    <mat-card fxFlex="25">

                        <a routerLink="/select" class="font">selection-value</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <b>my Solutions</b>
                    <mat-card>
                        <button mat-raised-button routerLink="params" style="width: 124px;">params</button><br>
                    </mat-card>
                </div>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="30">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">THD Business Traffic</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Public Wifi </a>
                    </mat-card>
                    <mat-card>
                        <a routerLink="" class="font">More Info </a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <b>Network Health</b>
                    <h5>Current Status</h5>
                    <b style="color:light green">CONNECTED</b>
                    <b>Available Bandwidth</b>
                    <h6>Download 100.0Mbps
                        <h6>upload 100.0Mbps</h6>
                    </h6>
                </div>
            </mat-card>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between Start" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="25">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Field Dashboard</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Field Shopping</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <h5><b>Technology Field Caption</b>
                        <h6>Choose a Field Caption from the
                            <h6 style="text-align: center;">Dashboard</h6>
                        </h6>
                    </h5>
                </div>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="25">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Device Details</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Mobile Devices</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <h5 style="text-align: center;"><b>Device Health</b>
                        <h6 style="text-align: center;">current Status
                            <h6>0 total devices detected (including Store
                                <h6>PCs,ACO,RAP and POS)</h6>
                            </h6>
                        </h6>
                    </h5>
                </div>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex="25">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Incident Monitoring</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a><br>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <h5 style="text-align: center;"><b>Store Analytics</b>
                        <h5 style="text-align: center;">Current Status
                            <h6>
                                7 impact poll Responses
                            </h6>
                        </h5>
                    </h5>
                </div>
            </mat-card>
        </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between Start" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="25">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Vision</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Field Shopping</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font"></a>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <h5 style="text-align: center;"><b>Vision</b>
                        <h5 style="text-align: center;">Current Status
                            <h6>
                                8 Active events
                                32 impacted sites
                                23 Open sites
                                2 Closed sites
                                30 sites with issues
                            </h6>
                        </h5>
                    </h5>
                </div>
            </mat-card>

        </div>
        <div fxLayout="column" fxFlex="25">
            <mat-card class="full-width">
                <div fxLayout="column" fxFlex="40">
                    <mat-card fxFlex="25">
                        <a routerLink="" class="font">Redis Monitoring</a>
                    </mat-card>
                    <mat-card fxFlex="25">
                    </mat-card>
                    <mat-card fxFlex="25">
                    </mat-card>
                    <mat-card fxFlex="25">
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-center center">
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <mat-icon matPrefix style="color:white">feedback</mat-icon>
                    <h5 style="text-align: center;"><b>Monitoring Dashboard</b>
                        <h5 style="text-align: center;">Current Status
                            <h6>
                                Redis uptime in days 30
                            </h6>
                        </h5>
                    </h5>
                </div>
            </mat-card>
        </div>
    </div>
</div> -->

<!-- <router-outlet></router-outlet> -->
<!-- <router-outlet></router-outlet> -->