<p>create-table works!</p>
<!-- <form [formGroup]="form">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>UserName</th>
      <td>
        <mat-form-field mat-cell *matCellDef="let element ">
          <input type="text" matInput formControlName="username" [(ngModel)]="element.username" />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="password">
 
      <td>
        <mat-form-field mat-cell *matCellDef="let element">
          <input type="text" matInput formControlName="password" [(ngModel)]="element.password" />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="dateofbirth">
      <th mat-header-cell *matHeaderCellDef>dateofbirth</th>
      <td>
        <mat-form-field mat-cell *matCellDef="let element ">
          <input matInput formControlName="dateofbirth" [matDatepicker]="picker" [(ngModel)]="element.dateofbirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td>
        <mat-form-field mat-cell *matCellDef="let element ">
          <input type="text" matInput formControlName="password" [(ngModel)]="element.Address" />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="Selectanfield">
      <th mat-header-cell *matHeaderCellDef> Selectanfield </th>
      <td>
        <mat-form-field *matCellDef="let element ">
          <mat-select [(value)]="selected" formControlName="Selectanfield" [(ngModel)]="element.Selectanfield">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" fxLayout="row"></tr>
  </table>
</form> -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>UserName </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let element"> {{element.password} </td>
    </ng-container>

    <ng-container matColumnDef="dateofbirth">
        <th mat-header-cell *matHeaderCellDef> Dateofbirth </th>
        <td mat-cell *matCellDef="let element"> {{element.dateofbirth}} </td>
    </ng-container>

    <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>

    <ng-container matColumnDef="Selectanfield">
        <th mat-header-cell *matHeaderCellDef> Selectanfield </th>
        <td mat-cell *matCellDef="let element"> {{element.Selectanfield}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>





<!-- <table mat-table [dataSource]="dataSource">
  <ng-container [matColumnDef]="col.key" *ngFor="let col of column">
    <th mat-header-cell *matHeaderCellDef>{{col.label}}</th>
    <td mat-cell *matCellDef="let element">
      <div [ngSwitch]="col.type">
        <mat-form-field *ngSwitchDefault class="full-width">
        </mat-form-field>
        <mat-form-field *ngSwitchCase="'date'" appearance="fill" class="full-width">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field  *ngSwitchCase="'select'" class="full-width">
          <mat-select  [(ngModel)]="element[col.key]">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->



