<div fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center center">
        <mat-form-field class="full-width input-disabled" appearance="outline">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="Niharika">
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;
        <mat-form-field class="full-width " appearance="outline">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="Niharika">
        </mat-form-field>
    </mat-card>
</div>
<br>
<div fxLayout="column" fxLayoutAlign="center center" class="key">
    <mat-card>
        <mat-form-field class="full-width " appearance="outline">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="Niharika">
        </mat-form-field>
    </mat-card>
</div>





























<!-- <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center center">
        <mat-form-field class="full-width input-disabled" appearance="outline">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="Niharika">
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;
        <mat-form-field class="full-width " appearance="outline">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="Niharika">
        </mat-form-field>
    </mat-card>

    <mat-card>
        <mat-form-field class="full-width " appearance="outline">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="Niharika">
        </mat-form-field>
    </mat-card>

    <mat-card>
        <mat-form-field class="full-width " appearance="outline">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="Niharika">
        </mat-form-field>
    </mat-card>
</div> -->