footer {
    display: flex;
    background-color: whitesmoke;
    text-align: center;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* flex-grow: 1; */
}

.full-width {
    /* width: 100%; */
    background-color: whitesmoke;
    padding: 6px;
}

.divs {
    background-color: #3f51b5;
    height: 24px;
}

.class {
    bottom: 18px;
    position: relative
}

/* .example-full-width
{
    position:relative;
    height: 10px;
} */
input {
    border-color: #3f51b5;
    color: rgb(255, 136, 0);
    background-color: #3f51b5;
    height: 14px;

}
